page-new-account {
    .new-account{
        background-color: map-get($colors, palepink);
    }

    .picture{
        z-index: 2;
        position: absolute;
        right: 4%;
        top: 2.5%;
        margin: auto;
        width: 40%; 
        height: 150px;
        border-style: solid;
        border-width: 2px;
        border-color: map-get($colors, magenta);
    }

    .name{
        width: 60%;
    }

    .add{
        color: map-get($colors, magenta);
        background-color: map-get($colors, palepink);
        font-size: 0.75em;
        top: 10%;
        right: 20%
    }

    .cambutton{
        z-index: 2;
        position: absolute;
        top: 7%;
        right: 11%;
        margin: auto;
        width: 100px; 
        height: 90px;
        border-width: 20px;
    }
}
